
<div data-ng-class="{visible: visible}" class="user-detail-wrapper">
  <article data-ng-class="{visible: visible}" class="user detail">
    <header data-ng-class="{deleted: user.IsDeleted, 'not-authorized': !user.Membership.Approved}" class="header">
      <h1>{{user.DisplayName}}</h1><img data-ng-src="{{user.Profile.PhotoURL}}" data-ng-show="user.Profile &amp;&amp; user.Profile.PhotoURL" class="user-portrait large"/><span data-ng-show="!user.Profile" class="user-portrait large"></span><span data-ng-if="user.online" data-title="This user is online!" class="badge online"></span>
      <div data-ng-click="close()" class="icon-cancel button button-close"></div>
    </header>
    <div class="content-block">
      <ul class="content navbar">
        <li data-ng-class="{current: selectedTab == 0}" data-ng-click="selectedTab = 0"><i class="icon-user"></i><span data-ng-bind="translate.userInfo"></span></li>
        <li data-ng-hide="isNew" data-ng-class="{current: selectedTab == 1}" data-ng-click="selectedTab = 1"><i class="icon-cog"></i><span data-ng-bind="translate.userRoles"></span></li>
      </ul>
      <div data-ng-form="form_user_detail" data-ng-show="selectedTab === 0" class="content form-block">
        <div class="form-block half">
          <h5><i class="icon-list"></i>User data</h5>
          <p class="mandatory">
            <label data-ng-bind="translate.email"></label>
            <input data-ng-model="user.Email" type="email" data-ng-required="true"/>
          </p>
          <p class="mandatory">
            <label data-ng-bind="translate.name"></label>
            <input data-ng-model="user.FirstName" type="text" data-ng-required="true"/>
          </p>
          <p class="mandatory">
            <label data-ng-bind="translate.surname"></label>
            <input data-ng-model="user.LastName" type="text" data-ng-required="true"/>
          </p>
          <p class="mandatory">
            <label data-ng-bind="translate.displayName"></label>
            <input data-ng-model="user.DisplayName" type="text" data-ng-required="true"/>
          </p>
          <p class="mandatory">
            <label data-ng-bind="translate.username"></label>
            <input data-ng-model="user.Username" type="text" data-ng-required="true"/>
          </p>
        </div>
        <div data-ng-hide="true" class="form-block half">
          <h5><i class="icon-key"></i>Password management</h5>
          <p>
            <label>New password</label>
            <input data-ng-model="user.password" type="password"/>
          </p>
          <p data-ng-class="{mandatory: user.password.length}">
            <label>Confirm password</label>
            <input data-ng-class="{'ng-invalid': user.password !== user.passwordConfirm &amp;&amp; form_user_detail['password-confirm'].$dirty}" data-ng-model="user.passwordConfirm" data-ng-required="user.password.length" name="password-confirm" type="password"/>
          </p>
        </div>
        <div class="form-block full">
          <p class="actions"><a data-ng-click="update()" class="button safe"><span data-ng-show="isNew" data-ng-bind="translate.saveNewUser"></span><span data-ng-show="!isNew" data-ng-bind="translate.updateUser"></span></a></p>
        </div>
      </div>
      <div data-ng-show="selectedTab === 1 &amp;&amp; !isNew" class="content form-block">
        <h5><i class="icon-users"></i>User's roles</h5><span data-ng-class="{on: role.checked == true}" data-ng-repeat="role in roles" class="role checkbox-switch">
          <input data-ng-change="change(role)" id="filter-user-detail-role-{{$index}}" type="checkbox" data-ng-model="role.checked" data-ng-true-value="true" data-ng-false-value="false" class="normalCheckBox"/>
          <label for="filter-user-detail-role-{{$index}}"><span>{{role.RoleName}}</span></label></span>
      </div>
    </div>
    <hr/>
    <footer data-ng-hide="isNew" class="footer">
      <h5>General actions</h5>
      <p class="actions"><a data-ng-class="{active: !user.Membership.Approved, danger: user.Membership.Approved}" class="button"><span data-ng-show="!user.Membership.Approved" data-ng-click="unauthUser(user.UserID, 'authorize')" data-ng-bind="translate.authorize"></span><span data-ng-show="user.Membership.Approved" data-ng-click="unauthUser(user.UserID, 'unauthorize')" data-ng-bind="translate.unauthorize"></span></a><a data-ng-class="{active: user.IsDeleted, danger: !user.IsDeleted}" class="button"><span data-ng-click="deleteUser(user.UserID, 'restore')" data-ng-show="user.IsDeleted" data-ng-bind="translate.reenableUser"></span><span data-ng-click="deleteUser(user.UserID, 'delete')" data-ng-show="!user.IsDeleted" data-ng-bind="translate.deleteUser"></span></a><a data-ng-bind="translate.emailResetPassword" class="button danger"></a></p>
    </footer>
  </article>
  <div data-ng-click="close()" class="app-modal"></div>
</div>